.Aside {
  padding: 1rem;
  background-color: #5f6d96;
  color: #d9e3f1;
}

.Aside nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.Aside a {
  display: block;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background-color: #d9e3f1;
  color: #5f6d96;
  padding: 0.5rem 1rem;
  border-radius: 1.4rem;
}

.Aside .active {
  font-weight: 700;
}
